.page.theme_dark {
  --bg-color: #000028;
  --accent-bg-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-text-color: #ff0070;
  --accent-text-color_from_accent-bd-color: var(--bg-color);
  --general-title-color: #db00ff;
  --rec-vision: visible;

  --bg-image: url("../images/cover-image-dark.png");
}