.page {
  font-family: var(--main-font);
  font-size: var(--font-size);
  line-height: 1.3;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);

  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.rec-symbol {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: end;
  inset-block-start: 22px;
  inset-inline-end: 31px;
  color: var(--text-color, #ff0070);
  visibility: var(--rec-vision, visible);
}

.rec-symbol::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-text-color, #ff0070);
  box-shadow: 0 0 2px 2px var(--accent-text-color, #ff0070);
}

.header {
  min-block-size: 100vh;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--accent-text-color);
  font-family: var(--main-font);
  font-size: var(--font-size);
  line-height: 1.3;
  border: none;
  text-transform: lowercase;
  inline-size: 70px;
  block-size: 26px;
  background: inherit;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-text-color);
  cursor: none;
  pointer-events: none;
  font-weight: 700;
}

.general__title {
  margin-left: 25px;
  color: var(--general-title-color, #db00ff);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.general_subtitle {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-text-color_from_accent-bd-color);
  background-color: var(--accent-bg-color);
  margin-inline-end: 20px;
  max-width: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  justify-self: end;
}

.shadow__text {
  text-shadow: 4px 4px var(--shadow-text-color);
  padding-block-start: 160px;
}

.section_link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 1px 1px var(--shadow-text-color);
}

.section_link:hover {
  border-block-end: 2px solid var(--text-color, #f1b2ce);
}

.title {
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-text-color);
  margin: 0;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 1;
  border-inline-start: 2px solid var(--accent-text-color);
  border-block-end: 2px solid var(--accent-text-color);
  inset-block-end: 20px;
  inset-inline-start: 20px;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: 1;
  border-inline-end: 2px solid var(--accent-text-color);
  border-block-start: 2px solid var(--accent-text-color);
  inset-block-start: 20px;
  inset-inline-end: 20px;
  inline-size: 25px;
  block-size: 25px;
}

.subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-text-color_from_accent-bd-color);
  background-color: var(--accent-bg-color);
}

.font-weight__regular {
  font-weight: 400;
}

.section {
  margin-inline: 20px;
  margin-block-start: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.section_first {
  grid-template-areas:
    "title a a"
    "title b b";
}

.section_second {
  grid-template-areas:
    "title title title"
    "a b c";
}

.section_third {
  grid-template-areas:
    "title title-second title-second"
    "title a a"
    "title b b"
    "title c c"
    "title d d"
    "title e e";
}

.section_fourth {
  grid-template-areas:
    "title title title"
    "a a b"
    "c d b"
    "c e e"
    "c e e";
}

.pictire_size {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.grid_area_a {
  grid-area: a;
}

.grid_area_b {
  grid-area: b;
}

.grid_area_c {
  grid-area: c;
}

.grid_area_d {
  grid-area: d;
}

.grid_area_e {
  grid-area: e;
}

.grid_area_title {
  grid-area: title;
}

.grid_area_title-second {
  grid-area: title-second;
}

.footer {
  margin-block-start: 60px;
  margin-bottom: 0;
}

.footer_title {
  color: var(--general-title-color, #db00ff);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  display: flex;
  inline-size: 100%;
  min-block-size: 100vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

@media (width < 768px) {
  .rec-symbol {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-self: end;
    inset-block-start: 15px;
    inset-inline-end: 22px;
    color: var(--text-color, #ff0070);
    visibility: var(--rec-vision, visible);
  }

  .rec-symbol::after {
    content: "";
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    background-color: var(--accent-text-color, #ff0070);
    box-shadow: 0 0 2px 2px var(--accent-text-color, #ff0070);
  }

  .header {
    min-block-size: 100vh;
  }

  .header__theme-menu-list {
    padding-top: 25%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10px;
  }

  .header__theme-menu-button {
    color: var(--accent-text-color);
    font-family: var(--main-font);
    font-size: var(--font-size);
    line-height: 1.3;
    border: none;
    text-transform: lowercase;
    inline-size: 70px;
    block-size: 26px;
    background: inherit;
  }

  .general_subtitle {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    color: var(--accent-text-color_from_accent-bd-color);
    background-color: var(--accent-bg-color);
    margin-inline-end: 10px;
    max-width: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
    justify-self: end;
    margin-left: 20px;
  }

  .main_title_block {
    padding-bottom: 50px;
  }

  .shadow__text {
    text-shadow: 4px 4px var(--shadow-text-color);
    padding-block-start: 160px;
  }

  .decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-start: 10px;
    inline-size: 25px;
    block-size: 25px;
  }

  .decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
    inline-size: 25px;
    block-size: 25px;
  }

  .section {
    margin-inline: 10px;
    margin-block-start: 40px;
    grid-template-columns: 1fr;
  }

  .section_first {
    grid-template-areas:
      "title"
      "a"
      "b";
  }

  .section_second {
    grid-template-areas:
      "title"
      "a"
      "b"
      "c";
  }

  .section_third {
    grid-template-areas:
      "title"
      "title-second"
      "a"
      "b"
      "c"
      "d"
      "e";
  }

  .section_fourth {
    grid-template-areas:
      "title"
      "a"
      "b"
      "c"
      "d"
      "e";
  }

  .footer {
    margin-block-start: 40px;
    margin-bottom: 0;
  }

  .footer_title {
    color: var(--general-title-color, #db00ff);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    display: flex;
    inline-size: 100%;
    min-block-size: 100vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
}
